

/* nav style  */
nav{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
 nav ul{
        display: flex;
        align-items: center;
}
nav ul li{
        list-style: none;
        margin-right: 80px;
}
ul li a{
    text-decoration: none;
    font-size: 15px;
}
.btn0{
    float: right;
}
/* bg design */
.bg-images{
    background-image:url(../assets/Hero-bg.png);
    height: 100%;
    width: 100%;
    background-position: center;
    position: relative;
}
.bg-text{
   text-align: center;
   display: inline-block;
}
.banner-pro{
  width: 300px;
  position: relative;
}